* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    margin: 0;
    width: 100%;
    /* overflow-x:hidden ; */
}

p {
    opacity: 0.6;
}

/* logo flex1 */
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;

}

.logo img {
    margin: 20px 29px;
 
}

.logo ul {
    display: flex;
    margin: 23px 29px;
}

.logo ul a {
    padding: 4px 10px;
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

/* logo flex2 */
.flex2 {
    display: flex;
    padding: 0 2rem;
}
.flex2 > div{
    flex: 1;
}
.flex2 h1 {
    font-size: 2rem;
    color: hsl(243, 87%, 12%);
}

.flex2 p {
    margin-top: -10px;
    font-size: 1rem;
}

.flex2 input {
    width: 15rem;
    height: 2rem;
    border-radius: 2px #fff;
    text-align: center;
    padding-top: 2px;
    padding-right: 82px;
}

.flex2 button {
    width: 15rem;
    height: 2rem;
    border-radius: 2px #fff;
    text-align: center;
    background-color: hsl(224, 93%, 58%);
    color: white;
    border: none;
    border-radius: 2px;
}

.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    
}
.img-container img{
    width: 100%;
}


/* Main */

main {
    background-image: url(bg-curve-desktop.svg);
    background-size: cover;
    background-position: center center;
}

.container {
    display: flex;
    gap: 3rem;
    margin-top: 5rem;
}
.con-1{
    margin-left: 1.5rem;    
}
.con-1 h1{
    font-size: 1.5rem;
    color: hsl(243, 87%, 12%);
}
.con-1 p{
    font-size: 0.8rem;
}
.con-1 a{
    font-size: 1rem;
}

/* main con-2 */

.con-2{
    border: 2px solid #fff;
    background-color: hsl(240, 75%, 98%);
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    width: 40%;
    padding-left: 15px;
    text-align: center;
    margin-left: 2rem;
    margin-bottom: -4rem;
    margin-top: 20px;
    
}
.container-box{
    flex: 1;
}
.con-2 p{
    font-size: 10px;
    width: 78%;
}
.con-2 h4{
    font-size: 0.6rem;
    width: 35%;
    margin-left:2rem ;
    /* margin-bottom:12px; */
}
.con-2 img{
    width: 10%;
    border-radius: 20px;
    margin-right: 13rem;
}

.last-second{
    background-color: hsl(238, 22%, 44%);
    display: flex;
    margin-top: 5rem;
    flex: 1;
}
 .last-second-one{
    margin: 3rem;
    color: #fff;
 }
.last-second-one h1{
 font-size: 2rem;
}
.last-second-one p{
font-size: 0.8rem;
width: 70%;
}

.last-second-two{
    margin-top: 3rem;
    text-align: center;
}
.last-second-two input{
    /* margin-right: 0.5rem; */
    width: 90%;
    height: 2rem;
    padding: 10px;
    border: 5px;
    background-color: hsl(240, 75%, 98%);
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    border-radius: 4px;
}
.last-second-two button{
    width: 60%;
    margin-top: 10px;
    margin-right:60px;
    height: 2rem;
    background-color: hsl(224, 93%, 58%);
    border: 2px solid hsl(224, 93%, 58%);
    border-radius: 4px;
}

footer{
    background-color: hsl(192,100%,9%);
    color: #fff;
}
.last{
    display: flex;
    flex: 4;
}
.last1{
    margin-top: 3rem;
    margin-left: 1rem;
}
.last1 ul{
 font-size: 0.7rem;
}
.last1 ul li{
    list-style: none;
}

.last2{
    margin-top: 6rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
    text-decoration: none;
    font-size: 0.8rem;
}
.last2 ul li{
    padding-top: 1rem ;
    list-style: none;
}
.last3{
    margin-top: 6rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
    text-decoration: none;
    font-size: 0.8rem;
}
.last3 ul li{
    padding-top: 1rem;
    list-style: none;
}
@media screen and (max-width: 650px) {
    .flex2 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .flex-btn input{
        width: 80%;
    }
    .flex-btn button{
        width: 80%;
    }
    .logo{
        font-size:2rem;
    }
    .logo img {
        width: 20%;
        margin-left: 1rem;
    }
    .logo ul{
        margin-left: -3rem;
    }
    
    .logo ul  a{              
        margin-right: -0.7rem;
        /* margin-left: -rem; */
        font-size: 0.4rem;
    }
    .flex2 h1{
        font-size: 1rem;
    }
    .flex2 p{
        font-size: 0.7rem;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .last {
        display: flex;
        flex-direction: column;
    }

    .last2 {
        width: 50%;
        margin-top: -1rem;
    }

    .last3 {
        width: 50%;
        margin-top: -1rem;
    }

    .last1 {
        width: 50%;
    }

    .last-second {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .last-second-one h1 {
        font-size: 1.2rem;
    }
    .last-second-one p{
        font-size: 1rem;
        width: 100%;
    }
    .last-second-two{
        margin-top: -1rem;
    }
    .last-second-two input{
        width: 80%;
    }
    .last-second-two button{
        margin-bottom: 1rem;
        margin-left: 2rem;
    }
}

